@import "../styles.scss";

.button {
	padding: .5em 1.5em;
	color: $color-base-red;
	background-color: #fff;
	border: 1px solid currentColor;
	border-radius: .3em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
